/* style.css - Arquivo principal (Padronização) */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

body{
    box-sizing: border-box;
}

div.content, header, footer{
    box-sizing: border-box;
}

.content{
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

h1{
    font-size: 2rem;
}

a{
    color: #333333;
    text-decoration: none;
    font-size: 1rem;
}

p{
    font-size: 1rem;
}

i{
    font-weight: lighter;
    color: #333333;
    font-size: 0.875rem;
}


