/* Container geral */
.content{
    background-color: #ecf0f1;
    width: 100%;
}
/* Main e h1 da página*/
main.contact{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    justify-self: center;
    padding-top: 25px;
    margin-top: 80px;
    margin-bottom: 40px;
}

h1{
    margin-bottom: 6px;
}

/* Grid-layout */
.contact-content{
    display: grid;
    grid-template-areas: 'input infos';
    justify-content: space-between;
    grid-template-columns: repeat(2, 45%);
}
/* Formulário e seus filhos/descendentes */
form{
    display: flex;
    flex-direction: column;
    grid-area: input;
    background-color: #ffffff;
    padding: 30px;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    width: 90%;
}

form > label{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

input{
    border: solid 0.5px #333333;
    height: 50px;
}

select{
    padding-left: 20px;
    height: 50px;
    background-color: #ecf0f1;
}

option{
    padding-left: 80px;
}

textarea{
    border: solid 0.5px #333333;
    height: 150px;
}

button{
    background-color: #5a933c;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    height: 50px;
}

/* Section de Dados e seus filhos */
.dados{
    display: flex;
    flex-direction: column;
    grid-area: infos;
    padding: 1rem;
}

/* Layout de cada artigo da sections */
.dados > article{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    row-gap: 8px;
}
/* Iframe */
iframe{
    height: 300px;
    border-radius: 7px;
    width: 500px;
}

/* Média Queries */
@media screen and (max-width: 768px){
    .contact-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'infos'
        'input';
    }
    iframe{
        width: 100%;
    }
}