/* Genérico e Main */
.content{
    background-color: #b0e7f5;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-bottom: 40px;
    align-self: center;
    justify-self: center;
}

/* Título e Subtítulo */
a:first-of-type{
    margin-bottom: 30px;
}

h1, h2{
    color: #48762e;
}

/* Projeto Layout */
.projeto{ 
    background-color: #ffffff;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

/* Categoria do Projeto */
div{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

/* Sobre o projeto */
article{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* Divisórias de Sub-informações do projeto */
article > aside{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
}
/* Configuração de cada divisória */
aside > div{
    display: grid;
    flex-direction: column;
    grid-template-areas: 
    "title"
    "paragraph";
}

div > h3{
    grid-area: title;
}

div > p{
    grid-area: paragraph;
}

/* Imagens - Hero e galeria */
#hero{
    width: 100%;
    object-fit: cover;
    height: 540px;
}

figure{
    display: grid;
    grid-template-areas: 'fig1 fig2 fig3 fig4';
}

figure > img{
    margin-right: 25px;
    width: 300px;
    height: 200px;
}

/* Grid da Galeria, cada posição */
figure:first-child{
    grid-area: fig1;
}

figure:nth-child(2){
    grid-area: fig2;
}

figure:nth-child(3){
    grid-area: fig3;
}

figure:last-child{
    grid-area: fig4;
}

/* Voltar */
.projeto > a:last-child{
    color: #5a933c;
    font-size: 1rem;
}

/* Média Queries */
@media screen and (max-width:768px){
    aside{
        flex-wrap: wrap;
    }
    figure{
        grid-template-areas: 
        'fig1 fig2'
        'fig3 fig4';
    }
}

@media screen and (max-width:568px){
    figure{
        grid-template-areas: 
        'fig1'
        'fig2'
        'fig3'
        'fig4';
    }
}